        /* Fonts */

        @import url('//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Roboto:300,400,400i,500,500i,700');
        /* Colors */

        $dark-blue: #0D2648;
        $light-blue: #769CBB;
        $grid-color: #f4f6f8;
        $label-color: #7A94AB;
        $year-label-color: #0D2648;
        $tooltip-label: #8193A3;
        $white-color: #ffffff;
        $black-color: #000000;
        $pink-color: #ff0059;
        $slider-line-color: #929292;
        $separator-line-color: #e3eaf0;
        $checkmark-icon-color: #1DAEE5;
        $checkmark-border-color: #B4C8D8;
        $grid-line-color: #e2ecf4;
        $back-color: #F5F8FB;

        html,
        body {
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            height: 100%;
            font-size: 16px;
        }

        h1 {
            margin: 0px;
            padding: 25px 0px;
            color: $dark-blue;
            font-family: 'Lato', sans-serif;
            font-size: 1.5em;
            line-height: 32px;

            span {
                padding-left: 25px;
                color: $light-blue;
                font-size: 0.65em;
                font-family: 'Lato Light', sans-serif;
            }
        }

        #mainWrapper {
            width: 1024px;
            height: 768px;
            background-color: $back-color;

            #leftPanel,
            #rightPanel {
                float: left;
            }

            #leftPanel {
                width: 764px;
                padding-left: 52px;
                height: 768px;

                #heading {
                    margin-left: 20px;
                }
            }

            #rightPanel {
                width: 199px;
            }
        }

        .xgrid,
        .ygrid {
            g.tick {
                line {
                    stroke: none;
                }
            }
        }

        #play-button {
            display: none;
        }

        /* Border Radius & Shadow Box style  */

        .radiusBox {
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
        }

        .shadowBox {
            -webkit-box-shadow: 0px 0px 12px 3px #ccc;
            -moz-box-shadow: 0px 0px 12px 3px #ccc;
            box-shadow: 0px 0px 12px 3px #ccc;
        }

        #anatomy-holder {
            padding: 40px 25px 25px 25px;
            height: 703px;
            @extend .shadowBox;

            svg {
                width: 155px;
            }

            #anatomysvg {
                svg {
                    height: 300px;
                }
            }

            #arcSvg {

                svg {
                    g {
                        path {
                            stroke: rgb(180, 200, 216);
                            fill: none;

                            &.finalArc {
                                stroke: none;
                            }
                        }
                    }
                }
            }
        }

        #chart-holder {
            width: 690px;
            height: 480px;
            margin-left: 20px;
            background-color: $white-color;
        }

        #chart-holder,
        #slider-holder {
            @extend .radiusBox;
            @extend .shadowBox;
        }

        #slider-holder {
            margin: 30px 0px 30px 20px;
            width: 690px;
            height: 86px;

            svg {
                padding: 11px 10px 10px 0px;
            }

            text {
                font-family: 'Roboto', sans-serif;
                font-size: 0.9em;
                font-weight: 300;
            }
        }

        .x-label,
        .y-label {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            fill: $label-color;
            font-size: 0.95em;
            text-rendering: optimizeLegibility;
        }

        .axis {

            path,
            line {
                fill: none;
                stroke: #eee;
                shape-rendering: crispEdges;
            }

            text {
                font-size: 11px;
            }
        }

        text {
            font-family: 'Roboto', sans-serif;
            font-size: 1.3em;
            font-weight: 300;
            fill: $label-color;

            &.handleText {
                font-size: 11px;
                fill: $white-color;
            }
        }

        .year-label {
            fill: $year-label-color;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
            font-size: 2em;
            text-align: center;
            padding: 20px 0px 0px 0px;
        }

        .mainGrid .grid:nth-child(1) {
            fill: $grid-color;
        }

        .grid {
            line {
                stroke: $grid-line-color;
                stroke-opacity: 0.7;
                shape-rendering: crispEdges;
            }

            text {
                display: none;
            }
        }

        .domain {
            stroke: none;
        }

        .track,
        .track-inset,
        .track-overlay {
            stroke-linecap: round;
        }

        .track {
            stroke: #000;
            stroke-opacity: 0.3;
            stroke-width: 3px;
        }

        .track-inset {
            stroke: $slider-line-color;
            stroke-width: 3px;
        }

        .track-overlay {
            pointer-events: stroke;
            stroke-width: 50px;
            stroke: transparent;
            cursor: crosshair;
        }

        .handle {
            fill: $pink-color;
            stroke-opacity: 0.5;
            stroke-width: 1.25px;
        }

        .tooltip {
            min-height: 113px;
            display: none;
            display: inline-block;
            position: absolute;

            .tooltiptop {
                @extend .radiusBox;
                @extend .shadowBox;

                p {
                    font-size: 0.8em;
                    color: $dark-blue;
                    margin: 3px;
                    line-height: 22px;

                    &:nth-child(1) {
                        font-family: 'Lato', sans-serif;
                        font-size: 1.1em;
                        text-align: center;
                        font-weight: bold;
                    }

                    span {
                        color: $tooltip-label;
                        width: 75%;
                        float: left;
                        font-family: 'Lato Bold', sans-serif;
                        font-weight: bold;
                    }

                    span:nth-child(2) {
                        text-indent: 5px;
                        color: $dark-blue;
                        font-family: 'Lato SemiBold', sans-serif;
                        width: 25%;
                    }
                }

                min-width: 224px;
                transform: translate(-50%,
                -250%);
                padding: 10px;
                border-radius: 8px;
                position: absolute;
                z-index: 99999999;
                background-color: $white-color;
                display:none;
            }
        }

        #arcdesign {
            span {
                vertical-align: middle;
                line-height: 30px;
                color: $label-color;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 0.95em;
            }

            text {
                font-family: 'Roboto', sans-serif;
                font-size: 0.7em;
                font-weight: 300;
                fill: $label-color;
            }
        }

        #arcdesign,
        #arcSvg {
            padding: 0px;
            text-align: center;
        }

        #arcdesign,
        .round {
            padding: 17px 0px;
        }

        .round {
            text-align: center;
            position: relative;

            span {
                padding-left: 15px;
                vertical-align: middle;
                line-height: 30px;
                color: $label-color;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 0.95em;
            }

            /* Male / Female SVG selection Button style */
            input[type="checkbox"] {
                visibility: hidden;
            }

            input[type="checkbox"]:checked+label {
                background-color: $pink-color;
                border-color: $pink-color;
            }

            input[type="checkbox"]:checked+label:after {
                opacity: 1;
            }

            label {
                background-color: $white-color;
                border: 1px solid #ccc;
                border-radius: 50%;
                cursor: pointer;
                height: 25px;
                left: 16px;
                position: absolute;
                width: 25px;

                &:after {
                    border: 2px solid $white-color;
                    border-top: none;
                    border-right: none;
                    content: "";
                    height: 6px;
                    left: 6px;
                    top: 7px;
                    opacity: 0;
                    position: absolute;
                    transform: rotate(-45deg);
                    width: 12px;
                }
            }
        }

        .separator {
            border-top: 1px solid $separator-line-color;
        }

        /* Male and Female SVG styles */

        #anatomysvg {
            #malesvg {
                svg {

                    /* g {
                        fill-opacity: 0;
                    }
                    g#male {
                        fill-opacity: 1;
                    }*/
                    .st0 {
                        fill: none;
                        stroke: #757677;
                        stroke-width: 0.5;
                        stroke-miterlimit: 10;
                    }

                    .st1 {
                        fill: #ADD8E6;

                    }

                    .st2 {
                        filter: url(#filter-28);
                    }

                    .st3 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #FFFF00;
                    }

                    .st4 {
                        opacity: 0;
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: none;
                        stroke: #D4D400;
                        stroke-width: 0.75;
                        stroke-miterlimit: 50;
                    }

                    .st5 {
                        fill: #89BDDE;
                    }

                    .st6 {
                        filter: url(#filter-26);
                    }

                    .st7 {
                        fill: #800080;
                    }

                    .st8 {
                        filter: url(#filter-24);
                    }

                    .st9 {
                        fill: #FF1100;
                    }

                    .st10 {
                        filter: url(#filter-18);
                    }

                    .st11 {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #008080;
                    }

                    .st12 {
                        opacity: 0;
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: none;
                        stroke: #06302E;
                        stroke-width: 0.5;
                        stroke-miterlimit: 10;
                    }

                    .st13 {
                        opacity: 0.5;
                    }

                    .st14 {
                        fill: #D8D8D8;
                    }

                    .st15 {
                        filter: url(#filter-2);
                    }

                    .st16 {
                        fill: #FFE4E1;
                    }

                    .st17 {
                        filter: url(#filter-20);
                    }

                    .st18 {
                        filter: url(#filter-22);
                    }

                    .st19 {
                        fill: #F0E68C;
                    }

                    .st20 {
                        filter: url(#filter-6);
                    }

                    .st21 {
                        fill: #F7931E;
                    }

                    .st22 {
                        filter: url(#filter-4);
                    }

                    .st23 {
                        fill: #22B573;
                    }

                    .st24 {
                        filter: url(#filter-10);
                    }

                    .st25 {
                        filter: url(#filter-12);
                    }

                    .st26 {
                        fill: #B0C4DE;
                    }

                    .st27 {
                        filter: url(#filter-16);
                    }

                    .st28 {
                        fill: #084E86;
                    }

                    .st29 {
                        filter: url(#filter-14);
                    }

                    .st30 {
                        fill: #C0C0C0;
                    }

                    .st31 {
                        filter: url(#filter-8);
                    }
                }
            }

            #femalesvg {
                svg {
                    .st0a {
                        fill: none;
                        stroke: #757677;
                        stroke-width: 0.5;
                    }

                    .st1a {
                        fill: #EEEEEE;
                    }

                    .st2a {
                        filter: url(#filter-2a);
                    }

                    .st3a {
                        fill: #ADD8E6;

                    }

                    .st4a {
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: #FFFF00;
                    }

                    .st5a {
                        opacity: 0;
                        fill-rule: evenodd;
                        clip-rule: evenodd;
                        fill: none;
                        stroke: #D4D400;
                        stroke-width: 0.75;
                        stroke-miterlimit: 50;
                    }

                    .st6a {

                        fill: #008080;
                    }

                    .st60a {

                        fill: #3d036b;
                    }

                    .st7a {
                        fill: #800080;
                    }

                    .st8a {
                        filter: url(#filter-14a);
                    }

                    .st9a {
                        fill: #FF1100;
                    }

                    .st10a {
                        filter: url(#filter-6a);
                    }

                    .st11a {
                        fill: #F4B3AE;
                    }

                    .st12a {
                        filter: url(#filter-16a);
                    }

                    .st13a {
                        filter: url(#filter-18a);
                    }

                    .st14a {
                        fill: #F0E68C;
                    }

                    .st15a {
                        filter: url(#filter-20a);
                    }

                    .st16a {
                        fill: #FF69B4;
                    }

                    .st17a {
                        filter: url(#filter-22a);
                    }

                    .st18a {
                        filter: url(#filter-24a);
                    }

                    .st19a {
                        fill: #F7931E;
                    }

                    .st20a {
                        filter: url(#filter-4a);
                    }

                    .st21a {
                        fill: #22B573;
                    }

                    .st22a {
                        filter: url(#filter-8a);
                    }

                    .st23a {
                        filter: url(#filter-10a);
                    }

                    .st24a {
                        fill: #FFDAB9;
                    }

                    .st25a {
                        filter: url(#filter-26a);
                    }

                    .st26a {
                        fill: #B0C4DE;
                    }

                    .st27a {
                        fill: #084E86;
                    }

                    .st28a {
                        filter: url(#filter-12a);
                    }

                    .st29a {
                        fill: #C0C0C0;
                    }

                    .st30a {
                        filter: url(#filter-28a);
                    }
                }
            }
        }

        #malefemaleSVG {
            height: 60px;
            text-align: center;
            padding: 0px 0px 20px 24px;
        }

        .radioContainer {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            float: left;
            width: 50px;
            height: 52px;

            /* Hide the browser's default radio button */
            /*&:hover input~.checkmark {
            background-color: #ccc;
        }
        */
            input {
                position: relative;
                left: 17px;
                top: 0px;
                opacity: 0;

                /* When the radio button is checked, add a blue background */
                &:checked~.checkmark {
                    opacity: 1;

                    /*background-color: $checkmark-icon-color;*/
                    &:after {
                        display: block;
                    }
                }
            }

            /* Create a custom radio button */
            .checkmark {
                cursor: pointer;
                position: absolute;
                height: 50px;
                width: 52px;
                margin-left: -35px;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 1;

                /* Create the indicator (the dot/circle - hidden when not checked) */
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    width: 52px;
                    height: 52px;
                }

                &.btnMale {
                    &:after {
                        background-image: url(/assets/images/male_on.png);
                    }
                }

                &.btnFemale {
                    &:after {
                        background-image: url(/assets/images/female_on.png);
                    }
                }
            }

            .btnMale {
                background-image: url(/assets/images/male_off.png);
            }

            .btnFemale {
                background-image: url(/assets/images/female_off.png);
                opacity: 0.7;
            }
        }